## MOVIE RECOMMENDER SYSTEM - CONTENT BASED RECOMMENDATION

#### SREENATH S

**NOTE: It is assumed that all the required input files are present in the same folder where this notebook is copied to.**

This notebook is part of the project Movie Recommendation System. Basic functionality of this notebook is to perform the content based filtering. 

1. Get movie metadata dataset.<br>
2. Get user rating dataset, both trainset and testset<br>
3. Apply TfIdf vectorizer on the Movie Metadata dataset. We are taking only two columns "Title" and "movie_keywords"<br>
4. Index the TfIdf DF with imdbId<br>
5. Generate user profiles for each user as follows:<br>
   a. Filter all the movies interacted by the user as part of training set.<br>
   b. Create a sparse matrix, in which each row correspond to the TfIdf representation of the movie user watched<br>
   c. Compute wighted average by mutiplying above matrix (step 5.b) with user ratings.<br>
   d. Normalize the data in the weighted average matrix.<br>
6. Compute the recommendation for every user as follows:
   a. Compute the cosine similarity between the user's weighted average vector with TfIdf representation of each movie.
   b. Filter out the movies already watched by the ser.
   c. Predict the TopN movies with highest similarity score.

**Notebook from the walkthrough session is used as base version, changes are made as required on top of the initial version**

Import all the packages as needed.

In [1]:
import numpy as np
import pandas as pd
import scipy
import math
import random
import sklearn
import import_ipynb
from sklearn.metrics.pairwise import cosine_similarity
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from configs import MODEL_CONTENT

Loading other modules which are created as part of Movie Recommendation system. Other modules of interest are:
1. MovieRecommender_TrainTestDataGenerator
2. MovieRecommeder_evaluations

Please note that disabled print functionality for this cell, otherwise it will be showing print statements from these modules.

In [2]:
%%capture
import MovieRecommender_TrainTestDataGenerator as DataGen
import MovieRecommeder_evaluations as ModelEval

Get the movie metadata from the MovieRecommender_TrainTestDataGenerator module

In [3]:
movie_meta_data = DataGen.get_movie_metadata()
movie_meta_data.shape

(8989, 9)

Get the user ratings train dataset, and user ratings test dataset. We will be using it for creating the wighter user profile vectors.

In [4]:
user_ratings_train_df, user_ratings_test_df = DataGen.train_test_user_behaviour()

Exploring and printing the datasets imported, to make sure everything imported correctly

In [5]:
user_ratings_train_df.head(5)

       userId  imdbId  rating
2457       73  112864     3.5
49661     472  120906     5.0
48470     584  119116     3.5
33782      18  117913     4.0
80144     614   80549     2.0

In [6]:
movie_meta_data.head(5)

,original_language,original_title,title,overview,movie_genre,movie_production,movie_keywords,spoken_language,imdbId
0,en,Toy Story,Toy Story,"Led by Woody, Andy's toys live happily in his ...",Animation Comedy Family,Pixar Animation Studios,jealousy toy boy friendship friends rivalry bo...,en,114709
1,en,Jumanji,Jumanji,When siblings Judy and Peter discover an encha...,Adventure Fantasy Family,"TriStar Pictures,Teitler Film,Interscope Commu...",board game disappearance based on children's b...,en fr,113497
2,en,Grumpier Old Men,Grumpier Old Men,A family wedding reignites the ancient feud be...,Romance Comedy,"Warner Bros.,Lancaster Gate",fishing best friend duringcreditsstinger old men,en,113228
3,en,Waiting to Exhale,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Comedy Drama Romance,Twentieth Century Fox Film Corporation,based on novel interracial relationship single...,en,114885
4,en,Father of the Bride Part II,Father of the Bride Part II,Just when George Banks has recovered from his ...,Comedy,"Sandollar Productions,Touchstone Pictures",baby midlife crisis confidence aging daughter ...,en,113041

In [7]:
user_ratings_train_df.columns

Index(['userId', 'imdbId', 'rating'], dtype='object')

Let us see how many unique movies in movie meta data df.

In [8]:
movie_meta_data.imdbId.nunique()

8989

In [9]:
meta_imdbId = set(movie_meta_data.imdbId.unique())

In [10]:
user_ratings_train_df.imdbId.nunique()

8500

We can observe that there are a total of 8989 movies out of which 8500 are part of train dataset, which is good.

In [11]:
train_imdbId = set(user_ratings_train_df.imdbId.unique())

In [12]:
len(meta_imdbId.intersection(train_imdbId))

8500

In [13]:
user_ratings_test_df.imdbId.nunique()

4212

Similary there are only 4212 movies are part of the testing datset.

In [14]:
test_imdbId = set(user_ratings_test_df.imdbId.unique())

In [15]:
len(meta_imdbId.intersection(test_imdbId))

4212

Training a model with vectors size 1500 (i.e.top max_features ordered by term frequency across the corpus). We will be ignoring the terms with document frequency lower that 0.003 and higher than 0.5. Also we will be taking. both unigram and bigram for this analysis. Stop words are instantiated from the nltk and is passed to the vectorizer

In [16]:
stopwords_list = stopwords.words('english')

In [17]:
# model class
vectorizer = TfidfVectorizer(analyzer='word',min_df=0.003,max_df=0.5,max_features=1500,ngram_range=(1, 2),stop_words=stopwords_list)
print(vectorizer)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=0.5, max_features=1500,
                min_df=0.003, ngram_range=(1, 2), norm='l2', preprocessor=None,
                smooth_idf=True,
                stop_words=['i', 'me', 'my', 'myself', 'we', 'our', 'ours',
                            'ourselves', 'you', "you're", "you've", "you'll",
                            "you'd", 'your', 'yours', 'yourself', 'yourselves',
                            'he', 'him', 'his', 'himself', 'she', "she's",
                            'her', 'hers', 'herself', 'it', "it's", 'its',
                            'itself', ...],
                strip_accents=None, sublinear_tf=False,
                token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
                vocabulary=None)

Now we will create a list of all movies (we will be having a list of imdbIds)<br>
Will fit the vectorizer on Title and movie_keywords

In [18]:
movie_meta_data['overview'] = movie_meta_data['overview'].fillna("")

In [19]:
item_ids = movie_meta_data['imdbId'].tolist()
tfidf_matrix = vectorizer.fit_transform(movie_meta_data.title+""+movie_meta_data.movie_keywords)
tfidf_feature_names = vectorizer.get_feature_names()

In [20]:
len(tfidf_feature_names)

731

We can see thers are only 731 features as per the min max ferquency we specified

In [21]:
print(tfidf_feature_names[:100])

['1970s', '19th', '19th century', '3d', 'abuse', 'accident', 'action', 'actor', 'addiction', 'adoption', 'adult', 'adult novel', 'adultery', 'adventure', 'affair', 'aftercreditsstinger', 'aftercreditsstinger duringcreditsstinger', 'age', 'agent', 'air', 'airplane', 'airport', 'alcohol', 'alcoholic', 'alien', 'alien invasion', 'america', 'american', 'anarchic', 'anarchic comedy', 'ancient', 'angeles', 'animal', 'animation', 'anime', 'anti', 'apartment', 'apocalypse', 'apocalyptic', 'apocalyptic dystopia', 'army', 'art', 'artist', 'arts', 'assassin', 'assassination', 'astronaut', 'asylum', 'attack', 'attempt', 'australia', 'author', 'baby', 'back', 'bad', 'ball', 'band', 'bank', 'bar', 'baseball', 'based', 'based comic', 'based novel', 'based play', 'based true', 'based tv', 'based video', 'based young', 'battle', 'beach', 'bear', 'beauty', 'best', 'best friend', 'betrayal', 'big', 'biography', 'birth', 'black', 'blackmail', 'blood', 'blue', 'boat', 'body', 'bomb', 'book', 'boss', 'boxer', 'boxing', 'boy', 'boyfriend', 'bride', 'bridge', 'british', 'broken', 'brother', 'brother brother', 'brother relationship', 'brother sister', 'brutality']

In [22]:
tfidf_matrix.shape

(8989, 731)

In [23]:
type(tfidf_matrix)

scipy.sparse.csr.csr_matrix

In [24]:
tfidf_matrix_df = pd.DataFrame.sparse.from_spmatrix(tfidf_matrix, columns=tfidf_feature_names)

In [25]:
tfidf_matrix_df['imdbId'] = item_ids
tfidf_matrix_df = tfidf_matrix_df.set_index('imdbId')
tfidf_matrix_df.shape

(8989, 731)

In [26]:
tfidf_matrix_df.head(5)

,1970s,19th,19th century,3d,abuse,accident,action,actor,addiction,adoption,...,world war,writer,year,york,york city,young,young adult,younger,youth,zombie
imdbId,,,,,,,,,,,,,,,,,,,,,
114709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113228,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
114885,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Now we will make the above steps into a function so that it can be called from the Content Based Filtering Class. So the COntent Based Class can be made self suffiecient and it wont be dependent on any of the global variables created above.

In [27]:
# METHOD      : create_tfidf_matrix
# INPUT       : NA.
# DESCRIPTION : Returns a TfIdf Matrix by performing the following steps:. 
#               1. Get the movie metadata dataset
#               2. Get the ratings data set-train
#               3. Instantiate a TfIdf vectorizer with stop words for 'English'
#               4. Fit the vectorizer on movie metadata features, Title and Keywords. This will yield a tfidf sparse matrix.
#               5. Create a data frame from the sparse matrix output.
#               6. Set the index of the DF as 'imdbId'
def create_tfidf_matrix():
    movie_meta_data = DataGen.get_movie_metadata()
    user_ratings_train_df, user_ratings_test_df = DataGen.train_test_user_behaviour()
    stopwords_list = stopwords.words('english')
    vectorizer = TfidfVectorizer(analyzer='word',min_df=0.003,max_df=0.5,max_features=1500,ngram_range=(1, 2),stop_words=stopwords_list)
    item_ids = movie_meta_data['imdbId'].tolist()
    tfidf_matrix = vectorizer.fit_transform(movie_meta_data.title+""+movie_meta_data.movie_keywords)
    tfidf_feature_names = vectorizer.get_feature_names()
    tfidf_matrix_df = pd.DataFrame.sparse.from_spmatrix(tfidf_matrix, columns=tfidf_feature_names)
    tfidf_matrix_df['imdbId'] = item_ids
    tfidf_matrix_df = tfidf_matrix_df.set_index('imdbId')
    return tfidf_matrix_df, tfidf_matrix

Method to create the weighted user profile

In [28]:
# METHOD      : create_item_profiles
# INPUT       : List of all item ids to be considered for creating the profile.
# DESCRIPTION : Get the rows corresponding to each of the movies in the iput list. 
#               Stack it vertically and return the sparse matrix.
def create_item_profiles(all_item_ids, tfidf_matrix):
    
    item_profiles_list = [tfidf_matrix[item_ids.index(x):item_ids.index(x)+1] for x in all_item_ids]
    item_profiles = scipy.sparse.vstack(item_profiles_list)
    return item_profiles

In [29]:
# METHOD      : generate_users_profiles
# INPUT       : TfIdf Matrix.
# DESCRIPTION : For every user in the training dataset, perform the following. 
#               Filter the movies watched by the user.
#               Invoke create_item_profiles with the list of movies filtered above.
#               Compute the wighted average vector for each user by mutiplying user ratings with the matrix returned by create_item_profiles
#               Normalize the data.

def generate_users_profiles(TfIdfMatrix):
    user_ratings_train_df = DataGen.train_test_user_behaviour()[0]
    user_behaviour_indexed_df = user_ratings_train_df.set_index('userId')
    user_profiles = {}
    for person_id in user_behaviour_indexed_df.index.unique():
        # Filter the movies interacted by user
        user_behaviour_person_df = user_behaviour_indexed_df.loc[person_id]
        # Create the item profile matrix
        user_item_profiles = create_item_profiles(user_behaviour_person_df['imdbId'], TfIdfMatrix)
        # Get the user ratings vector
        user_item_strengths = np.array(user_behaviour_person_df['rating']).reshape(-1,1)
        # Weighted average of item profiles by the user_behaviour strength
        user_item_strengths_weighted_avg = np.sum(user_item_profiles.multiply(user_item_strengths), axis=0) / np.sum(user_item_strengths)
        user_profile_normalized = sklearn.preprocessing.normalize(user_item_strengths_weighted_avg)
        # Store it on to the user_profile set
        user_profiles[person_id] = user_profile_normalized
        
    return user_profiles

Let us test the correctness of the above function by invoking it.

In [30]:
#Invoke the generate_users_profiles() to create user profile data
TfIdfDF, TfIdfMatrix = create_tfidf_matrix()
user_profiles = generate_users_profiles(TfIdfMatrix)
len(user_profiles)

671

In [31]:
#Let us print the vector for a user
print(user_profiles[472])

[[0.02882835 0.00856112 0.00856112 0.         0.03223596 0.02113753
  0.01351029 0.03791213 0.00916059 0.00340706 0.02155316 0.
  0.02531783 0.01187935 0.02148889 0.05332248 0.02724138 0.05250307
  0.0433457  0.01370486 0.03872674 0.0147711  0.02858992 0.0110799
  0.03082857 0.00121231 0.0156084  0.11350479 0.04463024 0.04463024
  0.00333713 0.04102523 0.04137946 0.04512172 0.01017047 0.01740467
  0.01058502 0.01219099 0.01670856 0.01121853 0.0601521  0.06374564
  0.01714152 0.03079727 0.03204589 0.01137682 0.00501587 0.01514912
  0.03208264 0.04742968 0.01695676 0.033104   0.00308042 0.00518507
  0.02179618 0.00777938 0.03073505 0.00955398 0.00573716 0.01226112
  0.09992833 0.00234071 0.06676847 0.02103683 0.02594992 0.01339461
  0.         0.         0.04789131 0.03236571 0.00203087 0.00671723
  0.02177413 0.01670444 0.01643529 0.05348671 0.03104512 0.01946954
  0.04057754 0.03284045 0.0229174  0.0319363  0.0269355  0.0188169
  0.02520829 0.04160455 0.03487652 0.01467232 0.00697282 0.01838594
  0.00931916 0.02049156 0.04127768 0.0344953  0.01458769 0.05728275
  0.01018443 0.0256812  0.01748322 0.03365493 0.0273021  0.0558593
  0.01975296 0.01296041 0.02864588 0.00601471 0.00904351 0.06170094
  0.00795593 0.01377401 0.01687827 0.01467961 0.03015794 0.01231044
  0.01556015 0.02884576 0.01577898 0.01150558 0.1236691  0.03721547
  0.01882469 0.04300832 0.04821156 0.01090154 0.00772997 0.02554445
  0.06596442 0.01453702 0.05741907 0.03529672 0.01705376 0.02265457
  0.01766088 0.02358241 0.01185336 0.08446173 0.01433573 0.00262653
  0.03867213 0.02818779 0.01466132 0.01301988 0.02439425 0.02335324
  0.01741581 0.01247929 0.00789347 0.03001999 0.01015474 0.01362616
  0.0181496  0.0113273  0.03274528 0.01567249 0.02898744 0.002353
  0.05780623 0.04174853 0.05473772 0.0169805  0.03149029 0.0511788
  0.04120161 0.03214093 0.00776567 0.04454077 0.01222816 0.01060145
  0.0339123  0.01475274 0.06328765 0.01294027 0.03290996 0.02610741
  0.04291898 0.11496903 0.00617013 0.00471626 0.03071675 0.01659829
  0.05764615 0.         0.02002978 0.11983892 0.01727504 0.01612981
  0.00883032 0.00334316 0.00631786 0.01581538 0.02718456 0.05405861
  0.02256804 0.00283338 0.00829776 0.04991013 0.01150514 0.09096893
  0.02141562 0.01664306 0.04247352 0.05386543 0.048659   0.01126138
  0.01170883 0.06789458 0.00280843 0.02866908 0.00367691 0.08732875
  0.01106599 0.0353867  0.01460917 0.01253554 0.02696888 0.05623822
  0.0173228  0.00678558 0.01186348 0.02129129 0.02129129 0.00992629
  0.01026454 0.00377767 0.00610411 0.00451962 0.01845485 0.00667382
  0.00690992 0.02680216 0.07555936 0.01356757 0.00224894 0.01409764
  0.00429351 0.0460084  0.00336271 0.00818145 0.03154709 0.01303414
  0.02078765 0.04847901 0.00513743 0.00596474 0.02875093 0.00407972
  0.0297915  0.29536886 0.04797089 0.01184616 0.02663112 0.01958121
  0.02419062 0.03903637 0.02162649 0.00430507 0.0054079  0.03875376
  0.00754143 0.00547795 0.00348945 0.02117294 0.01115626 0.00744696
  0.02422633 0.03773844 0.0257426  0.08252799 0.00681579 0.01530945
  0.01655393 0.02863425 0.01281877 0.0590808  0.02312721 0.01052222
  0.01419959 0.01967368 0.01458743 0.03142378 0.03450544 0.04267353
  0.0296779  0.01635389 0.03364768 0.02587749 0.00696645 0.00726078
  0.04224164 0.03493476 0.0315166  0.00604026 0.01951108 0.03450118
  0.00261147 0.00624599 0.01122872 0.00320754 0.01157307 0.0151492
  0.02312463 0.00308996 0.         0.04040093 0.06939437 0.05565866
  0.01918762 0.01976301 0.00751779 0.01185539 0.03992045 0.02142848
  0.0016192  0.02479338 0.02843699 0.02701367 0.01579964 0.01615924
  0.02645898 0.0434746  0.03014024 0.01830668 0.0078434  0.01446187
  0.04959832 0.02523064 0.02444473 0.07966983 0.05229514 0.0300581
  0.00823009 0.01191645 0.15301427 0.1530992  0.01031788 0.02182367
  0.03273389 0.03812515 0.00450426 0.01260285 0.00627391 0.02920662
  0.00353152 0.05051977 0.02412074 0.01886203 0.02887441 0.01581765
  0.0385603  0.02745824 0.01580142 0.02236017 0.0351728  0.03509378
  0.01713567 0.04844197 0.038396   0.01327728 0.01269737 0.00934841
  0.02733114 0.04050857 0.04308725 0.01471874 0.00423188 0.00308652
  0.01315754 0.00514338 0.00184045 0.13898045 0.00350763 0.02559259
  0.01470528 0.01380101 0.04119738 0.0412556  0.08145412 0.01758897
  0.04238426 0.1819824  0.04011349 0.05789666 0.01292168 0.01574031
  0.02652586 0.05312962 0.02259423 0.03635545 0.09080854 0.03132853
  0.02979518 0.07458238 0.0333958  0.01029929 0.00307164 0.01566901
  0.01230274 0.00311537 0.00316654 0.00252488 0.01471649 0.01900993
  0.01391361 0.0113628  0.00865962 0.01911599 0.01399936 0.01877614
  0.03722099 0.03162859 0.01453959 0.01046182 0.00967781 0.03114658
  0.01350156 0.05795606 0.00986353 0.01764044 0.01508337 0.04383931
  0.01073954 0.0077559  0.01945287 0.00577307 0.06799825 0.00165938
  0.1045399  0.00708086 0.08132259 0.09341111 0.02779786 0.0030267
  0.03498916 0.01391264 0.         0.02168505 0.03302256 0.01751627
  0.04766601 0.03296988 0.09819953 0.01851944 0.05989136 0.0272497
  0.05017633 0.003006   0.00547991 0.09495981 0.08052977 0.02400555
  0.04811065 0.0054591  0.03351578 0.01336861 0.02089451 0.01144984
  0.09027742 0.03956249 0.00184773 0.02665352 0.02478162 0.00805473
  0.00939166 0.01507012 0.03285487 0.03295428 0.02818098 0.03162075
  0.0095722  0.04366274 0.00952396 0.01050642 0.03538979 0.00655629
  0.0133809  0.00935698 0.00233194 0.03872172 0.02558981 0.00978422
  0.09195197 0.00302855 0.01800346 0.01319225 0.01984881 0.02651788
  0.01231781 0.01900784 0.01742227 0.01230383 0.00664325 0.02186471
  0.04136265 0.01160251 0.01030153 0.0350131  0.04113436 0.00860274
  0.01208579 0.03104875 0.0140658  0.05430132 0.02242936 0.02602174
  0.03230869 0.01370491 0.00823197 0.01347868 0.03340336 0.00318057
  0.02408851 0.03630461 0.01634617 0.0262843  0.0425365  0.02389954
  0.04165971 0.03426652 0.16270042 0.01328816 0.00550171 0.0110681
  0.00758559 0.0216042  0.01977514 0.0033857  0.02142305 0.01554112
  0.00727133 0.01216577 0.03167103 0.0029621  0.03677384 0.01988393
  0.03867545 0.01552498 0.02954505 0.02420411 0.02067545 0.00277731
  0.02482817 0.02464365 0.04094142 0.00659274 0.03580071 0.
  0.         0.04964297 0.02581035 0.01405889 0.01405889 0.00958908
  0.01759818 0.01874047 0.         0.00463757 0.02191909 0.01427856
  0.10959573 0.00788995 0.01350933 0.02265941 0.08217028 0.00987141
  0.00169956 0.01954066 0.01035715 0.         0.00665132 0.04745016
  0.00202622 0.02863489 0.02657956 0.01195413 0.02149344 0.01980766
  0.03905398 0.02871872 0.00961016 0.01222902 0.02827546 0.01899833
  0.03955404 0.00809691 0.00802052 0.0406018  0.02913405 0.0187
  0.03589657 0.08482833 0.04937545 0.01941658 0.00809412 0.02949033
  0.02805645 0.03460189 0.01532534 0.02315746 0.02959104 0.0460649
  0.04231117 0.02939114 0.00934001 0.01676292 0.02351205 0.06733132
  0.020193   0.00848806 0.00814374 0.         0.03806285 0.06933997
  0.02536962 0.02573744 0.00319718 0.06370846 0.02264591 0.02288923
  0.02073944 0.00816347 0.05053756 0.05099132 0.00991085 0.04465593
  0.04459788 0.03115356 0.01012138 0.00236146 0.         0.01489907
  0.00262653 0.01041884 0.02808184 0.00817349 0.03791044 0.01775121
  0.02269681 0.01058957 0.00429244 0.00953302 0.01662331 0.03816983
  0.03402035 0.0183524  0.02627977 0.0294507  0.01096824 0.03527922
  0.02879412 0.01470685 0.02642832 0.01824974 0.02254072 0.00977226
  0.00499543 0.03022926 0.00960146 0.00930266 0.04603488 0.02589993
  0.01222418 0.02680377 0.02540074 0.00918143 0.0263786  0.01962208
  0.00736663 0.00266798 0.02349116 0.01617959 0.01259621 0.04091224
  0.02623866 0.04658285 0.01301056 0.         0.01339455 0.014722
  0.02227403 0.02564248 0.01724552 0.01576583 0.0326273  0.04779627
  0.01140236 0.01080418 0.03091896 0.01104739 0.00900965 0.
  0.03263338 0.00607789 0.0486355  0.00839569 0.07289521 0.01011732
  0.00387913 0.01991858 0.01301272 0.00693329 0.0156737  0.18247614
  0.04858369 0.01809331 0.02046665 0.02436678 0.05732327 0.0069812
  0.03774872 0.0198724  0.02960488 0.01571531 0.03247224 0.0111818
  0.00971684 0.01948524 0.10044479 0.07015865 0.01267887 0.04281946
  0.07921661 0.05230474 0.05434418 0.00570806 0.09353056 0.04443133
  0.01835498 0.00569177 0.01144984 0.02238625 0.00467098]]

Content Based Recommender

In [32]:
class ContentFiltering:
    
    
    def __init__(self, item_ids, items_df):
        self.item_ids = item_ids
        self.items_df = items_df
        self.TfIdfDF, self.tfidf_matrix = create_tfidf_matrix()
        self.user_profiles = generate_users_profiles(self.tfidf_matrix)
        
    def compute_user_item_profile_similarity(self, person_id, topn=2000):
        # Computes the cosine similarity between the user profile and all item profiles
        cosine_similarities = cosine_similarity(self.user_profiles[person_id], self.tfidf_matrix)

        # Sort the movies based on similarity and get the topn movies
        similar_indices = cosine_similarities.argsort().flatten()[-topn:]
        
        # Sort the similar items by similarity
        similar_items = [(item_ids[i], cosine_similarities[0,i]) for i in similar_indices]
        similar_items = sorted(similar_items, key=lambda x: x[1], reverse = True)
        return similar_items
        
    def get_item_recommendations(self, user_id, items_to_ignore=[], topn=10, verbose=False):
        similar_items = self.compute_user_item_profile_similarity(user_id)
        #Filter movies the user has already watched
        similar_items_filtered = list(filter(lambda x: x[0] not in items_to_ignore, similar_items))
        
        recommendations_df = pd.DataFrame(similar_items_filtered, columns=['imdbId', 'sim_score']).head(topn)
        movie_dataset = self.items_df[['imdbId', 'title']]
        
        recommendations_df = pd.merge(left=recommendations_df, right=movie_dataset, left_on='imdbId', right_on='imdbId')
        #recommendations_df
        return recommendations_df

Let us instantiate the content based model

In [33]:
content_based_recommender_model = ContentFiltering(item_ids, movie_meta_data)

Now we will check the prediction for a particular user, by invoking get_item_recommendations with userId

In [34]:
print("content based recommendations: \n\n")
content_based_recommender_model.get_item_recommendations(472)

content based recommendations:

   imdbId  sim_score                                      title
0   60304   0.400069             2 or 3 Things I Know About Her
1  110395   0.382622                             Love and a .45
2  165874   0.382622  The Mating Habits of the Earthbound Human
3  159272   0.382388                           Beautiful People
4  120831   0.368626                     Slums of Beverly Hills
5  102721   0.361512                                      Proof
6  355702   0.356105                           Lords of Dogtown
7  101588   0.355322                               City of Hope
8  460829   0.353727                              INLAND EMPIRE
9  132910   0.350745                        The Crow: Salvation

**Evaluate the model on the train dataset**

In [35]:
content_overall_metrics, content_eval_results_df = ModelEval.model_evaluator.evaluate_model(content_based_recommender_model,MODEL_CONTENT)
print('overall metrics:\n', content_overall_metrics)
content_eval_results_df.head(10)

Number of users processed :  667
overall metrics:
 {'model_type': 'content_based', 'recallscore@5': 0.14422241529105126, 'recallscore@10': 0.2359152576355009}

,hitrate@5_count,hitrate@10_count,interacted_count,recallscore@5,recallscore@10,userId
61,26,50,372,0.069892,0.134409,547
62,27,48,266,0.101504,0.180451,624
12,30,53,264,0.113636,0.200758,73
17,14,31,258,0.054264,0.120155,564
66,12,32,249,0.048193,0.128514,15
41,7,22,214,0.032710,0.102804,468
2,11,29,185,0.059459,0.156757,452
50,19,30,169,0.112426,0.177515,30
23,17,33,156,0.108974,0.211538,311
79,41,62,145,0.282759,0.427586,213